<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,57}</string>
                <key>spriteSourceSize</key>
                <string>{53,57}</string>
                <key>textureRect</key>
                <string>{{0,0},{53,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,59}</string>
                <key>spriteSourceSize</key>
                <string>{52,59}</string>
                <key>textureRect</key>
                <string>{{53,0},{52,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{300,64},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{0,364},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{105,0},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,62}</string>
                <key>spriteSourceSize</key>
                <string>{53,62}</string>
                <key>textureRect</key>
                <string>{{159,0},{53,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,62}</string>
                <key>spriteSourceSize</key>
                <string>{53,62}</string>
                <key>textureRect</key>
                <string>{{212,0},{53,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,62}</string>
                <key>spriteSourceSize</key>
                <string>{53,62}</string>
                <key>textureRect</key>
                <string>{{265,0},{53,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,62}</string>
                <key>spriteSourceSize</key>
                <string>{53,62}</string>
                <key>textureRect</key>
                <string>{{318,0},{53,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,60}</string>
                <key>spriteSourceSize</key>
                <string>{55,60}</string>
                <key>textureRect</key>
                <string>{{371,0},{55,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,64}</string>
                <key>spriteSourceSize</key>
                <string>{53,64}</string>
                <key>textureRect</key>
                <string>{{426,0},{53,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{0,64},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Boss.png</string>
            <key>size</key>
            <string>{500,474}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:328e42bc3b061304384133f5677bf0fd:10a4a5c539ea262d28012b96a1bd233e:21cfae9c2ef8294adacbc5cfc054a3e6$</string>
            <key>textureFileName</key>
            <string>Boss.png</string>
        </dict>
    </dict>
</plist>
