<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,46}</string>
                <key>spriteSourceSize</key>
                <string>{25,46}</string>
                <key>textureRect</key>
                <string>{{50,175},{25,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,46}</string>
                <key>spriteSourceSize</key>
                <string>{25,46}</string>
                <key>textureRect</key>
                <string>{{75,175},{25,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{26,86},{25,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,42}</string>
                <key>spriteSourceSize</key>
                <string>{24,42}</string>
                <key>textureRect</key>
                <string>{{25,0},{24,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,42}</string>
                <key>spriteSourceSize</key>
                <string>{25,42}</string>
                <key>textureRect</key>
                <string>{{0,0},{25,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,43}</string>
                <key>spriteSourceSize</key>
                <string>{26,43}</string>
                <key>textureRect</key>
                <string>{{0,86},{26,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,43}</string>
                <key>spriteSourceSize</key>
                <string>{26,43}</string>
                <key>textureRect</key>
                <string>{{50,43},{26,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{97,0},{25,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,45}</string>
                <key>spriteSourceSize</key>
                <string>{25,45}</string>
                <key>textureRect</key>
                <string>{{0,175},{25,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,44}</string>
                <key>spriteSourceSize</key>
                <string>{23,44}</string>
                <key>textureRect</key>
                <string>{{51,86},{23,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,44}</string>
                <key>spriteSourceSize</key>
                <string>{25,44}</string>
                <key>textureRect</key>
                <string>{{25,130},{25,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,42}</string>
                <key>spriteSourceSize</key>
                <string>{24,42}</string>
                <key>textureRect</key>
                <string>{{49,0},{24,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,45}</string>
                <key>spriteSourceSize</key>
                <string>{27,45}</string>
                <key>textureRect</key>
                <string>{{75,130},{27,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,42}</string>
                <key>spriteSourceSize</key>
                <string>{24,42}</string>
                <key>textureRect</key>
                <string>{{73,0},{24,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{25,43},{25,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{100,43},{25,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,43}</string>
                <key>spriteSourceSize</key>
                <string>{24,43}</string>
                <key>textureRect</key>
                <string>{{76,43},{24,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,46}</string>
                <key>spriteSourceSize</key>
                <string>{26,46}</string>
                <key>textureRect</key>
                <string>{{100,175},{26,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,45}</string>
                <key>spriteSourceSize</key>
                <string>{25,45}</string>
                <key>textureRect</key>
                <string>{{25,175},{25,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,44}</string>
                <key>spriteSourceSize</key>
                <string>{25,44}</string>
                <key>textureRect</key>
                <string>{{0,130},{25,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,44}</string>
                <key>spriteSourceSize</key>
                <string>{27,44}</string>
                <key>textureRect</key>
                <string>{{98,86},{27,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{0,43},{25,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,45}</string>
                <key>spriteSourceSize</key>
                <string>{25,45}</string>
                <key>textureRect</key>
                <string>{{50,130},{25,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,44}</string>
                <key>spriteSourceSize</key>
                <string>{24,44}</string>
                <key>textureRect</key>
                <string>{{74,86},{24,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Player2.png</string>
            <key>size</key>
            <string>{126,221}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea30dd1fa639ff49aaa23497d15ab2a1:2371367383ace1c4ac965232ad9b7437:aedb10c9ef8fb536b07a3ade2caf7cc2$</string>
            <key>textureFileName</key>
            <string>Player2.png</string>
        </dict>
    </dict>
</plist>
